{
    "parser": "babel-eslint",
    "extends": "airbnb-base",
    "parserOptions": {
        "sourceType": "module"
    },
    "root": true,
    "env": {
        "es6": true,
        "browser": true
    },
    "globals": {

    },
    "rules": {
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "warn",
            "never"
        ],
        "eol-last": [
            "warn",
            "never"
        ],
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "no-useless-escape": "off"
    }
}