body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    /* background-image: url(../../assets/image/5b1a607d9580eb51c6dcb895767a789b.png); */
    background-size: 200px;
}
.wrapper {
    box-sizing: border-box;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}
.wrapper .title {
    text-align: center;
    color: #555;
}
.wrapper .input-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 40px 0;
}
.wrapper .input-container input {
    width: 60%;
    height: 40px;
    box-sizing: border-box;
    padding: 5px 15px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 10px;
    margin-right: 20px;
}
.wrapper .input-container button {
    width: 80px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: skyblue;
    cursor: pointer;    
    outline: none;
}
.wrapper .list-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.wrapper .list-container li {
    box-sizing: border-box;
    width: 100%;
    line-height: 50px;
    background-color: #fff;
    margin: 15px 0;
    padding: 0 20px;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);
    border-radius: 10px;
    color: #333;
}
.wrapper .list-container li.done span {
    text-decoration: line-through;
}
li > a {
    float: right;
    cursor: pointer;
    text-decoration: underline;
    color: palevioletred;
}
