<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="todo">
        <header>
            <h1 class="title">{{title}}</h1>
        </header>
        <section class="input-container">
            <input v-model="text_value" type="text"> <button v-click="add">submit</button>
        </section>
        <ul class="list-container">
            <li v-for="t of todos" class='list-item'><span>{{t}}</span><a v-bind="index" v-click="remove">remove</a></li>
        </ul>
        <div>hahahaha</div>
        <div>hehehehe</div>
        <div>heiheihei</div>
        <div>甜甜姐最棒</div>
    </div>
</body>
</html>